#menu_principal{
    align-items: center;
    padding: 10px;
}

.padding{
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:darkgrey;
}

#ada_inicio{
    max-width: 50vh;
}

#frases{
    margin-top: 15px;
}

#aspas{
    max-width: 5vh;
    margin: 0px;
}

footer{
   background-color:darkgrey ; 
}